<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>NextStop.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>7E4141C71DF40CD200F68730</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7E4141DB1DF40CD200F68730</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7E4141E61DF40CD200F68730</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
